<title>  {$page.title} </title>
<!-- meta -->
<meta charset="{$config.charset}">
<meta name="author" content="{$config.author}">

<meta name="keywords" content="{$config.keywords}" />
<meta name="description" content="{$page.description}"/>
<meta name="robots" content="{$page.robots}"/>

<!-- viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="application-name" content="CMS" />

<!-- Cache  -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<!-- Referrer -->
<meta name="referrer" content="no-referrer-when-downgrade">