<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{Site_url}/public/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{Site_url}/public/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{Site_url}/public/icons/favicon-16x16.png">
<link rel="shortcut icon" href="{Site_url}/public/icons/favicon.ico">
<link rel="manifest" href="{Site_url}/public/icons/site.webmanifest">
<link rel="mask-icon" href="{Site_url}/public/icons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffc40d">