<div class="hero">
<!-- nav -->
<nav class="container-fluid">
    <ul>
        <li>
            <a href="{Site_url}" class="contrast">
                <strong>{$config.title}</strong>
            </a>
        </li>
    </ul>
    <button class="btn-menu" aria-label="Boton menu">
        <svg width="1rem" height="1rem" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
    <ul class="menu">
        <!-- links -->
        {Action: navigation}
        <!-- /links -->
    </ul>
</nav><!-- /nav -->

<!-- header -->
<header class="container">
    <hgroup>
        <h1>{$page.title}</h1>
        <h2>{$page.description}</h2>
        <nav>{Action: navFolder}</nav>
    </hgroup>
</header>
<!-- /header -->

</div>