<header class="pt-5">
    <!-- Start: Hero Clean Reverse -->
    <div class="container pt-4 py-xl-5">
        <div class="row pt-5">
            <div class="col-md-6">
                <div class="d-flex flex-column justify-content-center py-5">
                    <h1 class="display-4 fw-bolder lh-sm text-primary mb-3">{$page.title}</h1>
                    <p class="fs-5 text-muted fw-lighter">{$page.description}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center position-relative">
                    {If: $page.image}
                        <img class="img-fluid" src="{Site_url}/public/{$page.image}"/>
                    {Else}
                        <img class="img-fluid" src="{Site_url}/public/images/illustrations/teamwork.svg"/>
                    {/If}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav class="float-end">{Action: navFolder}</nav> 
            </div>
        </div>
    </div><!-- End: Hero Clean Reverse -->
</header>


